{% include base_path %}
{% assign authors = post.authors
   | replace: "Hans van Gorp", "<strong>Hans van Gorp</strong>"
   | replace: "H. van Gorp", "<strong>H. van Gorp</strong>"
   | replace: "H. Van Gorp", "<strong>H. Van Gorp</strong>" %}
<li class="cv-pub">
  <a class="cv-pub__title" href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
  <span class="cv-pub__meta">{% if authors %}{{ authors }}. {% endif %}{% if post.venue and post.venue != "" %}<i>{{ post.venue }}</i>, {% endif %}{{ post.date | date: "%Y" }}.</span>
</li>
